<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>Menu</title>
</head>

<body>

  <div class="navbar bg-dark p-1 m-4 ">
    <div class="container py-4">
      <div><a href="{% url 'method_list' %}"><i class="fa-solid fa-house" style="color: #f7f2f6;"></i></a></div>
      {% if user.is_authenticated %}
      <p class="text-light fs-3">Welcome, {{ user.username }}!</p>
      {% endif %}
    </div>
  </div>
  <div class="container mt-3">
    {% block content %}

    {% endblock %}
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>


</body>

</html>