<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>SignUp</title>
</head>

<body class="bg-light">
  
  <div class="d-flex justify-content-center align-items-center vh-100">
    <form method="post" class="bg-white p-4 rounded shadow-sm" style="min-width: 350px;">
      <h2 class="text-center mb-4">Signup</h2>
      
      {% csrf_token %}
      {{ user_form.as_p }}
    
      
      <button type="submit" class="btn btn-dark w-100">Sign Up</button>
    </form>
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>


</body>

</html>